<body id="home">
<div id="welcome-sign-up">
  <br>
  <br>
  <center><b><h1 class="welcome-text-title"> AtList </h1><b></center>
  <center><h3 class="welcome-text-header"> Capture, share and discover favorites. </h3></center>
  <br><br>
<!--   <center><h3 class="welcome-text"> Make favorite lists on anything. Gain influence on what you know best. Use the influence of your friends for recommendations you can trust. Connect with the best of the world around you. </h3></center> -->
  <br>
  <br>




<center>
  <%= button_to "/auth/facebook", {class: "home-button btn btn-social btn-facebook"} do %>
        <i class="social-icon fa fa-facebook"></i> Connect with Facebook 
  <% end %>
</center>
  <center><%= button_to "/auth/facebook", {:class => "home-button btn btn-social btn-facebook"} do %>
     <i class="social-icon fa fa-facebook"></i><span class="login-text">Login</span>
      <% end %>
  </center>
</div>


<br>
<br>
<br>

</body>









