
<body id="home">
<div id="welcome-sign-up">
  <br>
  <center><b><h1 class="welcome-text-title"> AtList </h1><b></center>
  <center><h3 class="welcome-text-header"> Capture, share and discover favorites. </h3></center>
  <br><br>
  <center><h3 class="welcome-text"> Make favorite lists on anything. Gain influence on what you know best. Use the influence of your friends for recommendations you can trust. Connect with the best of the world around you. </h3></center>
  <br>
  <br>
  <center><%= button_to "Connect with Facebook", "/auth/facebook", :class => "btn btn-facebook home-button"%></center>
  <center><%= button_to "Login", "/auth/facebook", :class => "btn btn-facebook home-button"%></center>
</div>

<br>
<br>
<br>

</body>









