<div class="about-box-container">


  <div class="fancybox-line"></div>
  <br><br><br>

  <center><h3 class="welcome-text"> <b>AtList</b> is a cool way to make and share favorite lists on anything.<br><br> Gain influence on what you know best. <br> Use the influence of your friends for recommendations you can trust. Connect with the best of the world around you. </h3></center>

</div>
