    <!-- start: Under Footer -->
  <div id="under-footer">
    
    <!-- start: Container -->
    <div class="container">
      
      <!-- start: Row -->
      <div class="row-fluid">

        <!-- start: Under Footer Logo -->
        <div class="span2">
          <div id="under-footer-logo">
            <a class="brand" href="#">AtList</a>
          </div>
        </div>
        <!-- end: Under Footer Logo -->

        <!-- start: Under Footer Copyright -->
        <div class="span9">
          
          <div id="under-footer-copyright">
            &copy; 2014
          </div>
          
        </div>
        <!-- end: Under Footer Copyright -->

        <!-- start: Under Footer Back To Top -->
        <div class="span1">
            
          <div id="under-footer-back-to-top">
            <a href="#"></a>
          </div>
        
        </div>
        <!-- end: Under Footer Back To Top -->
      
      </div>
      <!-- end: Row -->
      
    </div>  
    <!-- end: Container  -->
    
  </div>
  <!-- end: Under Footer -->   