<!DOCTYPE html>
<meta charset="utf-8">
<style>

text {
  font: 10px sans-serif;
}

</style>
<body>

<div>This is our search index page for results</div>
<div id="vis"></div>
  <%= javascript_tag do %>
  <% path = search_path + ".json#{@query}" %>
    renderChart("<%= path %>",'<%= ".json-data" %>');
  <% end %>

