.masonryImage {
  margin: 1px;
  padding: 0px;
/*  background: #D8D5D2;*/
  font-size: 11px;
/*  line-height: 1.4em;*/
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline;
  width: 240px;
}


.masonryImage img {
  width: 100%;
}