@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Scada);

html {
  height: 100%;
}

body {
  height: 100%;
}

#home {
  background: url(fullcollage2.jpg) no-repeat;
  background-size: 100% 100%;
  opacity: 0.93;
  z-index: -1;
}


#welcome-sign-up {
  height: 52%;
  width: 40%;
  background: white;
  opacity: 0.95;
  color: black;
  position: absolute;
  margin-left: 30%;
  margin-top: 7%;

}

.welcome-text-title {
  font-family: 'Scada', sans-serif !important;
  font-weight: 700 !important;
  font-size: 50px;
  color: black;
}

.welcome-text-header {
  font-family: 'Scada', sans-serif !important;
  font-weight: 700 !important;
  font-size: 1.7em;
  color: black;
}

.welcome-text{
  font-family: 'Scada', sans-serif !important;
  font-size: 1.7em;
  color: black;
}

.home-button {
  width: 35% !important;
}


.add-line {
  border-top: 7px solid black;
  margin-bottom: 4%;
  width: 98% !important;
}


